body, html {
  font-family: 'Poppins';
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  background-color: #0a0a0a;
  height: 100px;
  color: white;
  padding: 20px;
  align-items: center;
}
.logo-img {
  margin-left: 10%;
  height: 100px;
}
.header-text {
  font-size: 28px;
  font-weight: 700;
  margin-left: 25px;
}
.header-text-yellow {
  font-size: 28px;
  font-weight: 700;
  color: #ffd414;
}
nav {
  margin-left: auto;
  margin-right: 10%;
}
nav ul {
  list-style-type: none;
  padding: 0;
}
nav ul li {
  display: inline;
}
nav ul li a{
  color: white;
  text-decoration: none;
  padding: 25px;
}
nav ul li a:hover{
  color: #ffd414;
}
.header-login-text {
  color: #ffd414;
}
.header-login-text:hover {
  color: rgb(255, 255, 255);
}
.shopping-cart {
  size: 25px;
  color: #ffd414;
}
.shopping-cart:hover {
  color: rgb(255, 255, 255);
}
.home {
  background-color: #ffd414;
  text-align: center;
  padding-bottom: 25px;
}
.product-title {
  font-size: 64px;
  font-weight: 700;
}
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('public/img/hero-banner.jpg');
  height: 850px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 25px;
}
.hero-text {
  text-align: left;
  position: absolute;
  top: 25%;
  left: 10%;
  width: 50%;
  font-size: 20px;
  color: white;
}
.hero-title {
  font-weight: 700;
  font-size: 84px;
}
.hero-title-yellow {
  font-size: 84px;
  font-weight: 700;
  color: #ffd414;
}
.hero-button {
  font-family: 'Poppins';
  background-color: #ffd414;
  padding: 10px;
  border-radius: 20px;
  font-weight: 700;
}
.hero-button:hover {
  font-family: 'Poppins';
  background-color: transparent;
  color: #ffd414;
  padding: 10px;
  border-radius: 20px;
  border-color: #ffd414;
  cursor: pointer;
}
.card {
  border: #0a0a0a;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}
.card:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
  box-shadow: 25px 28px 50px rgba(39,44,49,.07), 1px 6px 2000px rgba(39,44,49,.04);
  transition: all .4s ease;
  cursor: pointer;
}
.card img {
  max-height: 225px;
  max-width: 225px;
}
.card span {
  font-size: 20px;
  font-weight: 700;
}
.cerveceria {
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 25px;
  margin-bottom: 25px;
}
.cb-img {
  float: left;
}
.rd-img {
  height: 275px;
  width: 275px;
  float: right;
}
.cd-img {
  height: 275px;
  width: 275px;
  float: left;
}
.catalog {
  text-align: center;
  padding-bottom: 25px;
  margin-top: 25px;
  margin-left: 10%;
  margin-right: 10%;
}
.catalog-searchbar input {
  margin-left: 50%;
  margin-bottom: 25px;
  font-size: 20px;
	padding: 10px 10px;
	width: 25%;
	padding-left: 35px;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #FFD414;
	border-radius: 10px;
	box-shadow: 3px 3px 2px 0px #E2E2E2;
	transition: .3s ease;
}
.catalog-searchbar input:active {
  background: #FFFFFF;
	border: 1px solid #0A0A0A;
	border-radius: 10px;
}
.catalog-filters {
  color: #0a0a0a;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: relative; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 10%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  float: left;
  clear: both;
  text-align: left;
}
.category-title {
  font-weight: 700;
  font-size: 20px;
}
.category {
  font-size: 16px;
  font-weight: 700;
}
.catalog-filters label {
  font-size: 14px;
}
.catalog-products {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
}
.catalog-card {
  border: #0a0a0a;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  margin: 10px;
}
.catalog-card:hover {
  transform: translate3D(0,-1px,0) scale(1.03);
  box-shadow: 25px 28px 50px rgba(39,44,49,.07), 1px 6px 2000px rgba(39,44,49,.04);
  transition: all .4s ease;
  cursor: pointer;
}
.catalog-card img {
  max-height: 225px;
  max-width: 225px;
}
.catalog-card span {
  font-size: 20px;
  font-weight: 700;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}
.pagination a.active {
  background-color: #ffd414;
  color: white;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.pricing {
  color: white;
  text-align: center;
  background-color: rgba(13, 17, 26);
}
.pricing-subtitle {
  font-size: 24px;
  font-weight: 300;
}
.pricing-container {
  margin-top: 25px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-evenly;
}
.pricing-sub {
  width: 20%;
  height: 600px;
  background-color: rgb(20, 37, 68);
  margin-bottom: 25px;
  border-radius: 25px;
  position: relative;
}
.pricing-sub ul{
  margin-left: 25px;
  margin-right: 25px;
  text-align: left;
}
.pricing-sub ul li{
  list-style-type: "✔";
  margin-top: 25px;
  text-align: left;
}
.pricing-button {
  font-family: 'Poppins';
  font-weight: 700;
  background-color: #ffd414;
  padding: 10px;
  border-radius: 20px;
  position: absolute;
  bottom: 50px;
  left: 38%;
  cursor: pointer;
}
.pricing-button:hover {
  font-family: 'Poppins';
  background-color: transparent;
  color: #ffd414;
  padding: 10px;
  border-radius: 20px;
  border-color: #ffd414;
}
.most-popular {
  background-color: rgb(110, 95, 24);
}
.pricing-header {
  display: block;
  margin-top: 70px;
  font-size: 24px;
  font-weight: 700;
}
.popular-header {
  display: block;
  margin-top: 20px;
}
.no-margin-top {
  margin-top: 0px;
}
.selected {
  border: rgb(20, 37, 68);
  border-style: solid;
  border-width: 5px;
}
.survey {
  color: white;
  text-align: center;
  background-color: rgba(13, 17, 26);
  padding-bottom: 25px;
}
.survey-question {
  font-size: 36px;
}
.answers {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 25px;
}
.answer-buttons {
  display: flex;
  justify-content: space-between;
  margin-left: 18%;
  margin-right: 18%;
  margin-top: 25px;
}
input[type=radio] {
  display: none;
}
.answers form label {
  width: 400px;
  font-size: 30px;
  border: 2px solid rgb(11, 13, 16);
  border-radius: 25px;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.answers form label::before {
  content: "";
  height: 30px;
  width: 30px;
  border: 3px solid white;
  border-radius: 50%;
  margin-right: 20px;
}
input[type=radio]:checked + label {
  background-color: rgb(110, 95, 24);
}
input[type=radio]:checked + label::before {
  height: 16px;
  width: 16px;
  border: 10px solid white;
  background-color: rgb(110, 95, 24);
}
.survey-button {
  font-family: 'Poppins';
  background-color: #ffd414;
  padding: 10px;
  border-radius: 5px;
  font-weight: 700;
}
.survey-button:hover {
  background-color: transparent;
  color: #ffd414;
  border-color: #ffd414;
  cursor: pointer;
}
.survey-picture {
  height: 360px;
  width: 540px;
}
.back {
  color: white;
  background-color: rgb(33, 70, 138);
}
.back:hover {
  background-color: transparent;
  color: white;
  border-color: rgb(33, 70, 138);
  cursor: pointer;
}
footer {
  background-color: #0a0a0a;
  color: white;
  text-align: center;
  padding: 20px 0;
}
.footer-grid {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  text-align: left;
}
.footer-logo {
  text-align: center;
  height: 250px;
}
.footer-title {
  font-weight: 700;
}
.footer-grid div a {
  color: white;
  text-decoration: none;
}
.footer-grid div a:hover {
  color: #ffd414;
}
.footer-grid div i {
  font-size: 24px;
  margin-right: 15px;
}